body {
    background-color: 457B9D;
}

#container {
    width: 800px;
    background-color: A8DADC;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid skyblue;
    border-radius: 20px;
}

header {
    background-color: 69, 123, 157;
    border-radius: 10px;
}

header img {
    width: 50%;
    display: block;
    background-color: BB495B;
    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;
}

main {
    background-color: C1DACE;
    margin: 0px auto;
    width: 600px;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

main img {
    width: 50%;
    display: block;
    background-color: 659BBD;
    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;

}
footer {
    background-color: 659BBD;
    margin: 20px 0 auto;
    border-radius: 100px;
}
nav {
    background-color: A8DADC;
    padding-top: 10px;
    text-align: center;
}
nav a{
    display: inline-block;
    background-color: 457B9D;
    height: 40px;
    width: 157px;
    font-size: 0.625cm;
    font-weight: bold;
    line-height: 40px;
    color: C1DACE;
    border-radius: 10px 10px 0 0;
}
nav a:hover {
    background-color: C1DACE;
    color: 457B9D;
}